@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');





:root{
    --index: calc(1vw + 1vh);
}


//--------------------------- HEADER ------------------------- //



body{
    background-color: #191919;
}




.header {
}
.header_container {
    max-width: 1335px;
    padding: 0px 35px;
    margin: 0 auto;
}
.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.header_logo {
}

.burger{
    cursor: pointer;
    display: none;
    .line{
        margin-top: 3px;
        background: rgb(255, 255, 255);
        width: 20px;
        height: 3px;
    }
}

.menu {
    ul{
        display: flex;
        gap: 40px;
        align-items: center;
    }

    li{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;

        &:hover{
            color: #118DA8;
        }
        
    }
}



//--------------------------- GENERAL ------------------------- //



.general {
    
}
.general_container {
    max-width: 1235px;
    padding: 0px 35px;
    margin: 0 auto;
}
.general_content {
    padding-top: 20px;
    padding-bottom: 100px;

    display: flex;
    gap: 60px;
    align-items: center;
}
.general_left {
    img{
        border-radius: 12px;
        width: 100%;
        height: 100%;
    }
}
.general_right {
    max-width: 526px;
    h1{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 65px;
        line-height: 80px;
        /* or 126% */
        
        letter-spacing: 3.2px;
        
        color: #FFFFFF;
    }

    span{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 75px;
        line-height: 40px;
        letter-spacing: 3.2px;
        
        color: #FFFFFF;
    }
}

.next{
    display: inline-block;
    position: relative;
}

.vector1{
    position: absolute;
    bottom: 0px;
    left: 0px;
}


.listen_to {
    padding-top: 75px;

    h3{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: calc(var(--index) * 0.8);
        line-height: 24px;
        
        color: #FFFFFF;
        
    }
    img{
        margin-top: 15px;
    }
}




//--------------------------- LASTEST VIDEO ------------------------- //


.lastest_video {
}
.lastest_video__container {
    padding: 0px 35px;
    max-width: 1335px;
    margin: 0 auto;


}

.lastest_video_content_up{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    h2{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 79px;
        letter-spacing: 2.88px;

        color: #FFFFFF;
    }
}


.button {
    max-width: 208px;
    background: #118DA8;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;
    
    &:hover{
        background-color: #FFFFFF;
    }

    a{
        padding: 12px 15px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        
        color: #FFFFFF;
        transition: all 0.3s ease-in-out;

        &:hover{
            color:#118DA8;
        }
    }
}



.lastest_video_content {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items: center;

}
.lastest_video_content__card {
    padding: 40px;
    background: #000000;
    border-radius: 32px;
    display: flex;
    gap: 50px;
}
.left {
}
.right {
    max-width: 780px;
    
}
.desc_1 {
    display: inline-block;
    background: #191919;
    border-radius: 6px;
    h5{
        padding: 0px 16px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: #FFFFFF;
    }
}
.episode {
    margin-top: 38px;
    margin-bottom: 17px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;

    color: #118DA8;
}
.title {
    h2{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 70px;
        
        letter-spacing: 2.56px;
        
        color: #FFFFFF;
        
    }
}
.desc_2 {
    margin-top: 28px;
    margin-bottom: 18px;

    h3{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 33px;
        font-size: 32px;
        color: rgba(255, 255, 255, 0.7);
        
        
    }
}


//--------------------------- MAN ------------------------- //


.man {
}
.man_container {
    max-width: 1335px;
    padding: 0px 35px;
    margin: 0 auto;
}
.man_content {
    padding: 100px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.man_left {
    max-width: 590px;
    
}
.arrow_button {
    transition: all 0.5s ease-in-out;

    &:hover{
        transform: translateX(35px);
    }
}
.man_text {
    margin-top: 45px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 79px;
    
    letter-spacing: 2.88px;
    
    color: #FFFFFF;
}
.man_sub_text {
    margin-top: 28px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    
    color: rgba(255, 255, 255, 0.7);
    
    
}
.man_sub_text2 {
    margin-top: 33px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 33px;
    
    color: rgba(255, 255, 255, 0.7);
}
.man_right {}

//--------------------------- SUBSCRIBE FOR UPDATES ------------------------- //



.subsrice_for_updates {
    padding-bottom: 100px;
}
.subsrice_for_updates_container {
    max-width: 1335px;
    padding: 0px 35px;
    margin: 0 auto;
}
.subsrice_for_updates_content {
    padding: 60px;
    border-radius: 32px;

    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subsrice_for_updates_left {
    max-width: 430px;



    h3{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
       
        color: #118DA8;
        
    }

    h2{
        margin-top: 15px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: calc(var(--index) * 3.3);
        line-height: 79px;
        /* or 110% */
        
        letter-spacing: 2.88px;
        
        color: #FFFFFF;
    }
}
.subsrice_for_updates_right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .inp1{
        padding: 26px 130px 26px 20px;


        background: #191919;
        border: 1px solid #191919;
        border-radius: 6px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        /* identical to box height, or 120% */
        
        
        color: rgba(255, 255, 255, 0.7);
        
        
    }

        .inp2{
            padding: 26px 130px 26px 20px;

            background: #191919;
            border: 1px solid #191919;
            border-radius: 6px;

            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            /* identical to box height, or 120% */
            
            
            color: rgba(255, 255, 255, 0.7);
        }

    
}

.sumbit{
    max-width: 87px;

    background: #118DA8;
    border-radius: 6px;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color:rgba(255, 255, 255, 0.162);;
    }

    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 15px;
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 29px;

        transition: all 0.3s ease-in-out;
        
        color: rgba(255, 255, 255, 0.7);
        

        &:hover{
            color: #118DA8;
        }
    }
}


//--------------------------- REVIEWS ------------------------- //




.reviews {
    padding-bottom: 100px;
}
.reviews_container {
    max-width: 1335px;
    padding: 35px;
    margin: 0 auto;
}
.reviews__content {
    display: flex;
    flex-direction: column;
}
.reviews_up {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.reviews_card {
    background: #000000;
    border-radius: 32px;
    min-width: 300px;
    min-height: 300px;

    transition: all 0.3s ease-in-out;

    &:hover{
        background: #0000005a;
    }

}

.reviews_card__content{
    padding: 40px;

    h2{
        margin-top: 20px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 43px;
        /* or 120% */
        
        
        color: #FFFFFF;
    }

    h3{
        margin-top: 20px;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;

        color: rgba(255, 255, 255, 0.7);
    }

}

.reviews_card_down{
    margin-top: 15px;

    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}



//--------------------------- FOOTER ------------------------- //



.footer {
    padding-bottom: 100px;
}
.footer_container {
    max-width: 1335px;
    margin:  0 auto;
    padding: 0px 35px;
}
.footer_content {
    display: flex;
    justify-content: space-between;

}
.footer_first {}
.footer_social {
    margin-top: 23px;

    display: flex;
    gap: 10px;
}


.footer_second {
    li{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      
        color: #FFFFFF;
    }

    li+li{
        margin-top: 10px;
    }
}

.footer_third{
    li{
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
      
        color: #FFFFFF;
    }

    li+li{
        margin-top: 10px;
    }
}




@media (max-width:404px) {
    .general_right h1{
        font-size: 45px !important;
        line-height: 60px !important;
    }
}


@media (max-width:414px) {
    .title h2{
        font-size: 34px !important;
    }

    .desc_2 h3 {
        font-size: 18px !important;
    }
}

@media (max-width:460px) {
    .lastest_video_content_up h2{
        gap: 20px;
    }


    .lastest_video_content_up h2{
        font-size: 14px;
    }

    .button a{
        font-size: 12px;
    }

    .man_text h2{
        font-size: 45px;
    }   

    .man_sub_text,.man_sub_text2{
        font-size: 28px;
    }
}

@media (max-width:540px) {
        .inp1,.inp2{
            padding: 10px 15px 10px 10px !important;
            font-size: 15px !important;
        }
}



@media (max-width:642px) {
        .title h2{
            font-size: 44px;
            line-height: 50px;
        }

        .desc_2 h3 {
            font-size: 25px;
        }
}

@media (max-width:760px) {
    .footer_content{
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
 
     }
}

@media (max-width:769px) {
    .general_left{
        display: none;
    }
    .vector1{
        display: none;
    }

    .general_content{
        margin: 80px 0px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .general_right{
        h1{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 65px;
            line-height: 80px;
            /* or 126% */
            
            letter-spacing: 3.2px;
            
            color: #FFFFFF;
        }

        span{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 75px;
            line-height: 80px;
            /* or 126% */
            
            letter-spacing: 3.2px;
            
            color: rgb(109,102,237);
            color: linear-gradient(90deg, rgba(109,102,237,1) 0%, rgba(9,9,121,1) 0%, rgba(14,96,219,1) 90%);
          
        }
    }   

    .man_container{
        max-width: 1315px;
        padding: 15px;
    }

}


@media (max-width:781px) {
    .burger{
        display: block;
        position: fixed;
        left: 20px;
        top: 15px;
        z-index: 999;
    }

    .header_container{
        position: fixed;
        top: 0px;
        background-color: #191919;
        width: 100%;
        z-index: 99;
    }

    .burger .active .line:nth-child(2){
        opacity: 0px;
    }

    .burger .active .line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .burger .active .line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 60%;
        height: 100%;
        padding: 15px;
        background: #212A2F;
        transform: translateX(-100%);
        transition: transform 0.5s
    }

    .naviagtion{
        padding-top: 50px;
        flex-direction: column;
        text-align: center;
        color: #FFF;
    }

    .header_content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .menu.active {
        transform: translateX(0);
    }

    .burger.active span:nth-of-type(1) {
        display: none;
      }
      .burger.active span:nth-of-type(2) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(45deg);  
      }
      .burger.active span:nth-of-type(3) {
        top: 50%;
        transform: translate(-50%, 0%) rotate(-45deg); 
      }

.general_content{
    margin-top: 100px;
}

      
}

@media (max-width:990px) {
    .subsrice_for_updates_left{
        display: none;
    }

    .subsrice_for_updates_content{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:1210px) {
        .left{
            display: none;
        }
}

@media (max-width:1288px) {
        .man_content{
            flex-wrap: wrap-reverse;
            justify-content: center;
            align-items: center;
        }

        .man_left{
            padding-top: 50px;
        }
}

@media (max-width:1310px) {
    .reviews_up{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .reviews_card_down{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
}